{
    "printWidth": 100,
    "trailingComma": "all",
    "tabWidth": 2,
    "singleQuote": false,
    "bracketSameLine": true,
    "arrowParens": "always",
    "semi": true,
    "bracketSpacing": true
}